:root {
    --cor-background: hsl(200, 50%, 20%);
    --cor-fundo: hsl(200, 50%, 30%);
    --cor-hover: hsl(200, 50%, 60%);
    --cor-primaria: hsl(0, 0%, 100%);
    --cor-h1: hsl(0, 100%, 50%);
    --button-left: hsl(200, 50%, 20%);
    --button-right: hsl(200, 50%, 50%);
    --button-left-black: hsl(0, 0%, 20%);
    --button-right-black: hsl(0, 0%, 50%);
    --button-left-green: hsl(120, 100%, 20%);
    --button-right-green: hsl(120, 100%, 50%);
    --button-left-red: hsl(0, 100%, 20%);
    --button-right-red: hsl(0, 100%, 50%);
}

body{
    background-color: var(--cor-background);
    color: var(--cor-primaria);
}

button{
    white-space: normal;
}

.visao-desktop{
    display: block;
}

.visao-mobile{
    display: none;
}

.form{
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 5px;
    
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 10px;
}
.card-group > label{
    width: 100%;
    color: hsl(0, 0%, 0%);
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
    margin-bottom: 15px;
}

.card-group > button{
    background-image: linear-gradient(to right, var(--button-right), var(--button-left));
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: 0px;
    outline: 0;
}

.card-group button:hover{
    background-image: linear-gradient(to right, var(--button-left), var(--button-right));
}

.card-group-red > button{
    background-image: linear-gradient(to right, var(--button-right-red), var(--button-left-red));
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: 0px;
    outline: 0;
}

.card-group-red button:hover{
    background-image: linear-gradient(to right, var(--button-left-red), var(--button-right-red));
}

.card-group-green > button{
    background-image: linear-gradient(to right, var(--button-right-green), var(--button-left-green));
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: 0px;
    outline: 0;
}

.card-group-green button:hover{
    background-image: linear-gradient(to right, var(--button-left-green), var(--button-right-green));
}

.card-group-black > button{
    background-image: linear-gradient(to right, var(--button-right-black), var(--button-left-black));
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: 0px;
    outline: 0;
}

.card-group-black button:hover{
    background-image: linear-gradient(to right, var(--button-left-black), var(--button-right-black));
}

.image-login{
    border-radius: 20px;
    width: 70px;
    box-shadow: grey 8px 8px 2px;
}

.title{
    color: var(--cor-h1);
}

a{
    text-decoration: var(--cor-h1);
}

.title-cadastro{
    color: var(--cor-h1);
}

iframe#iframe-home{
    width: 85%;
    height: 800px;
    border: none;
    overflow: hidden;
}

iframe#iframe-home::-webkit-scrollbar{
    display: none;
}


input[type=checkbox] {
    background-color: blanchedalmond;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  input[type=checkbox] + label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
  }
  
  input[type=checkbox] + label::before {
    background-color: white;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    border: solid 2px;
    border-radius: 25%;
    vertical-align: bottom;
  }
  
  input[type=checkbox]:checked + label::after {
    background-color: hsl(200, 100%, 50%);
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    border: solid 2px;
    border-radius: 25%;
    vertical-align: bottom;
  }
  
 /* Barra de Progresso */
#progress-bar {
    background-color: darkgrey;
    height: 20px;
    width: clamp(200px, 50px + 50vw, 350px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #progress-bar .filled {
    background-color: darkgreen;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #progress-bar .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    z-index: 1;
  }
  
/*menu*/

.dp-menu{
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.dp-menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: var(--cor-fundo);
    border-radius: 10px;
}

.dp-menu ul li{
    display: inline;
    position: relative;
}

.dp-menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .4s;
}

.dp-menu ul li a:hover{
    color: var(--cor-fundo);
    text-decoration: underline;
    background-color:rgb(250, 220, 220);
    border-radius: 5px;
}

.dp-menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    z-index: 2;
}

.dp-menu ul li:hover ul{
    display: block;
}

.dp-menu ul ul li a{
    display: block;
}

nav.mobile{
    display: none;
}

  @media (max-width: 600px) {

    .visao-desktop{
        display: none;
    }

    .visao-mobile{
        display: block;
    }

    button{
        width: 90%;
        overflow: hidden;
    }

    .form {
        width: 100%;
        padding: 20px;
    }

    .card{
        padding: 10px;
        border-radius: 3px;
    }
    
    .card-group > input{
        width: 95%;
    }

    .card-group > button{
        border-radius: 5px;
        padding: 5px;
    }
    
    .card-group-red > button{
        border-radius: 5px;
        padding: 5px;
    }
    
    .card-group-green > button{
        border-radius: 5px;
        padding: 5px;
    }
    
    .card-group-black > button{
        border-radius: 5px;
        padding: 5px;
    }

/* Ajuste Menu para Mobile */

nav a{
    padding: 1px;
    }

    nav.dp-menu{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .botao-menu-mobile{
        background-color: var(--cor-background);
        font-size: 45px;
        cursor: pointer;
        color: white;
        text-align: center;
    }

    nav.mobile ul{
        display: none;
        margin-top: 5px;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 2;
    }

    nav.mobile li{
        font-weight: 300;
        width: 80%;
        display: block;
        background: var(--cor-background);
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color: white;
        text-decoration: none;
    }

}